.chess-clock {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    /*Fix the font later*/
    font-weight: normal;
    font-size: 72pt;
}

.black {
    width: 50%;
    height: 100%;
    background-color: #292929;
    color: white;
    text-align: center;
}

.white {
    width: 50%;
    height: 100%;
    background-color: gray;
    color: black;
    text-align: center;
}